<h1>Log In</h1>

<%= form_tag :action => 'authenticate', :controller => 'users' %>
<p><label>E-mail Address:</label><br />
<input name="email" value="" type="text" /></p>

<p><label>Password:</label><br />
<input name="password" value="" type="password" /></p>

</p><input type="submit" value="Log In" /></p>
<%= end_form_tag %>