* {
margin:0;
padding:0;
}

body {
  font: 62.5%/1.6 Verdana, Arial, Helvetica, sans-serif;
  background-color:#D4D4D4;
}

h1 {
  font-size: 2.4em;
  font-weight: normal;
}

h2 {
  font-size: 2.0em;
  font-weight: normal;
}

p, li {
  font-size: 1.4em;
}

h1, h2, p {
  margin: 1em 0;
}


#branding {
border-top:#abc561 solid 3px;
background:#c1df7d url(/plugin_assets/railfrog/images/images/top_bg.gif) repeat-x;
height: 110px;
position:relative
}

#branding img#branding-logo {
float:left;
margin-left:3px;
}

#branding h1 {
  margin: 0;
  color:#360;
  padding-top:30px;
  font-weight:normal;
  font-family:Tahoma;
}

#mainNav {
  list-style: none;
}



#footer {
  background-color:#c1df7d;
  padding: 1px 20px;
}

/* The Core Technique
================================= */

body {
  text-align: center; 
  min-width: 760px;
}

#wrapper {

  width: 85%;
  margin: 0 auto; 
  text-align: left;
background-color: #eeffc6;
}




#mainNav { 
  width: 23%;
  float: left;
}


#contentWrapper { 
  width: 75%; 
  float: right; 
  
}

#mainContent { 
  width: 95%; 
  margin: 0; 
  float: left; 
} 


#footer { 
  clear: both; 
  text-align:center;
  padding:5px;
}

#footer img {
border:0;
}

/* Subsection Tabs
--------------------*/
ul.subsection_tabs {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	border-bottom:1px solid #99cc00;
	height:2.2em;
	clear:both;
}

ul.subsection_tabs li {
	float:left;
	margin-right:2px;

	text-align:center;
	height:1em;
}

ul.subsection_tabs li a {
	display:block;
	position:relative;
	padding:0 6px;
	background-color:#cccc99;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	
}

ul.subsection_tabs li a:hover {
	color:#360;
}

ul.subsection_tabs li a.active {
	background-color:#c1df7d;
	margin-bottom:-1px;
	border-top:1px solid #99cc00;
	border-left:1px solid #99cc00;
	border-right:1px solid #99cc00;
color:#360;
}

.panelSet {
background-color:#c1df7d;
border-left:1px solid #99cc00;
border-right:1px solid #99cc00;
border-bottom:1px solid #99cc00;
}

.panel {
padding:5px;
}

.panel ul {
clear:both;
height:2em;
list-style:none;
}

.panel ul li {
float:left;
}

.panel ul li a{
text-decoration:none;
font-size:0.9em;
padding:1px 5px;

border-left:1px solid #9c6;
border-right:1px solid #cf9;

border-bottom:1px solid #9c6;
border-top:1px solid #cf9;


color:#360
}

.panel ul li a:hover{
background-color:#ffc;
}

.panel ul li a:active{
background-color:#ffc;
}

#mainNav {
background-color:#dff2b2;
overflow:hidden;
padding-bottom:20em;
}

#mainNav * {
padding-left:20px
}

#mainNav * * {
padding-left:0
}

#mainNav ul {
padding-left:10px;
list-style: none;
font-size:0.9em;
}

#mainNav ul li ul {
font-size:0.7em;
}

#mainNav a {
color:#369;
text-decoration:none;
}

#mainNav a.expand, #mainNav a.collapse {
  background-repeat: no-repeat;
  height: 9px;
  width: 9px;
  margin: .6em 3px 0px -12px;
  float: left;
  clear: left;
  
}

#mainNav a.expand {
  background-image: url(/plugin_assets/railfrog/images/expand.gif);
 }

#mainNav a.collapse {
  background-image: url(/plugin_assets/railfrog/images/collapse.gif);
}

#logout {
position:absolute;
right:0px;
top:0px;
background-color:#f90;
padding:2px 5px;
}

#logout a {
color:#fff;
font-weight:bold;
text-decoration:none;
}

#mapping_labels table{
width:100%;
padding:2px;
margin:0;
border-collapse:collapse;
border-top:1px solid #9c6;
border-right:1px solid #9c6;
}

#mapping_labels table td {
border-bottom:1px solid #9c6;
border-left:1px solid #9c6;
}

.even {
background-color:#ddd;
}
.odd {
background-color:#f5f5f5;
}
