<h4>Rename folder</h4>

<%
form_remote_for :site_mapping, @site_mapping,
  :url => {:action => 'update_folder'},
  :html => { :id => 'folder_form' } do |f|
%>
  <%= f.hidden_field :id %>
  <%= render :partial => 'folder_form' %>
  <%= submit_tag 'Save' %>
<% end %>


