* {
	
	padding: 0;
	margin: 0;
}

body, td, th {
	font-size: 0.7em;
	font-family: verdana, helvetica, arial, sans-serif;
}

body {
	background-color: #f8f8f8;
	padding: 1em;
}

#content {
	margin: auto;
	width: 80%;
	background-color: #fff;
}

#navigation {
	border: 2px solid #555;
	padding: 1em;
	font-size: 1.5em;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 0.3em 0;
}

form {
	margin: 1em 0;
}

img.indicator {
	vertical-align: middle;
}

fieldset {
	border: 1px solid #999;
	padding: 1em;
	margin: 0.5em 0;
}

fieldset legend {
	color: #999;
	padding: 0 0.5em;
	font-weight: bold;
	height: 30px;
}

input, textarea {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 10pt;
}

.chunk-item {
	padding: 4px 5px;
	margin: 5px 0;
	background-color: #fff;
	border: 1px dashed #555;
}

.active-chunk-item {
	margin: 5px 0;
	background-color: #fff;
	border: 1px dashed #555;
}

.active-chunk-item .content {
	padding: 4px 5px;
}

.active-chunk-item .title {
    background-color: #eee;
    font-weight: bold;
    padding: 4px;
}

.chunk-box {
	padding: 0 5px;
	border: 2px solid #555;
	margin-bottom: 20px;
}

a {
	color: #0066CC;
	text-decoration: none;
}

a:hover {
	background: #ff8;
}

.listing {
	width: 100%;
	border-spacing: 0;
}

.listing a {
	color: #0066CC;
	text-decoration: none;
	letter-spacing: -1px;
	font-weight: bold;
}

.listing a:hover {
	background: #ff8;
}

.listing td {
	padding: 0.6em 0.5em;
	border-bottom: solid 1px #C5DBF7;
	color: #333;
	background-color: #E6F2FF;
}

.listing tr.even td {
	background-color: #fff;
}

.listing th {
	padding: 0.2em 0.5em;
	color: #fff;
	background-color: #555;
	text-align: left;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}