<%= partial_render('header', :not_on_ajax => true) %>
<%= image_tag( "/images/indicator.gif", :id => 'indicator', :style => "display:none", :border => '0' ) %>
<%= @areas['content'] %>
<%= partial_render('footer', :not_on_ajax => true) %>