[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/engines"]
	path = vendor/plugins/engines
	url = git://github.com/lazyatom/engines.git
[submodule "vendor/plugins/railfrog"]
	path = vendor/plugins/railfrog
	url = git://github.com/railfrog/railfrog
