<h4>Upload file</h4>

  <%= form_tag_with_upload_progress(:action=>'store_uploaded')%>
    <%= hidden_field 'site_mapping', 'parent_id' %>
    <p><label for="chunk_description">Document Description</label><br/>
    <%= text_field 'chunk', 'description'  %></p>

    <p><label for="chunk_version_content">Content</label><br/>
    <%= file_field :chunk_version, :tmp_file %>
    <%= submit_tag 'Upload' %>
    <%= upload_status_tag %>

  <%= end_form_tag %>



