<%= error_messages_for 'chunk' %>
<%= error_messages_for 'chunk_version' %>

<!--[form:chunk]-->
<p><label for="chunk_name">Name</label><br/>
<%= text_field 'chunk', 'name'  %></p>

<p><label for="chunk_version_content">Content</label><br/>
<%= text_area 'chunk_version', 'content'  %></p>
<!--[eoform:chunk]-->

