<h2>Add new folder</h2>

<%
form_remote_for :site_mapping, @site_mapping,
  :url => {:action => 'new_folder'} do |f|
%>
  <%= f.hidden_field :parent_id %>
  <%= render :partial => 'folder_form' %>
  <%= submit_tag 'Save' %>
<% end %>


