<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="author" content="name of the author." />
		<meta name="keywords" content="key words that you are targeting for search engines." />
		<meta name="description" content="description of the main conents." />
		<link rel="stylesheet" type="text/css" href="/theme/stylesheet/style.css" media="screen"/>
		<%= javascript_include_tag :defaults %>
		<title>Railfrog Admin CP</title>
	</head>
	<body>
		<div id="MainWrapper">
			<div id="Header"><a href="index.html">Railfrog Admin CP</a></div>
			<div id="HeaderMenus">
				<ul>
				  <% @admin_navigation.each do |text,nav| %>
				  <li><%= link_to text, :controller => nav %></li>
				  <% end %>
				</ul>
			</div>
			<div id="SideContents">
				<h3>Navigation</h3>
        <% @menu.each do |key,value| %>
        <%= link_to key, value %><br />
        <% end %>
			</div>
			<div id="MainContent">