<h1>Add a New User</h1>

<% form_for :user, @user, :url => { :action => 'create' } do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <%= submit_tag "Add User" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
