<h1>Editing document</h1>

<%= start_form_tag :action => 'update_document', :site_mapping_id => @site_mapping, :chunk_version_id => @chunk_version %>
  <%= render :partial => 'document_form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'index' %>
