<h1>Upload new file</h1>

<%= form_tag({:action=>'store_uploaded'}, :multipart => true)%>

  <%= hidden_field 'site_mapping', 'parent_id' %>
  <p><label for="chunk_version_description">Document Description</label><br/>
  <%= text_field 'chunk', 'description'  %></p>
  <p><label for="chunk_version_content">Content</label><br/>
  <input type="file" name="chunk_version[tmp_file]" />

  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'index' %>
