<%= :document.l('Document') %>: <strong><%= @file_name %></strong><br />
<%= :document_id.l('Document ID') %>: <strong><%= @site_mapping.id %></strong><br />
<%= :document_type.l('Document Type') %>: <strong><%= humanize_markup_name @chunk.mime_type_str -%></strong>

