<%= block_start 'new-chunk', 'Create New Document' %>
  <%= block_content_start 'new-chunk' %>

    <%= form_remote_tag :url => { :action => 'create_chunk' } %>
      <%= hidden_field 'site_mapping', 'parent_id' %>
      <%= render :partial => 'chunk_form' %>
      <%= submit_tag 'Save' %>
    <%= end_form_tag %>

  <%= block_content_end %>
<%= block_end %>