<% onclick_js = visual_effect(:toggle_slide,
                              "folder-tree-#{site_mapping.id}",
                              :duration => 0.5) +
                "if (Element.hasClassName('folder-#{site_mapping.id}', 'collapsed')) {" +
                  "Element.addClassName('folder-#{site_mapping.id}', 'expanded');" +
                  "Element.removeClassName('folder-#{site_mapping.id}', 'collapsed');" +
                "} else {" +
                  "Element.addClassName('folder-#{site_mapping.id}', 'collapsed');" +
                  "Element.removeClassName('folder-#{site_mapping.id}', 'expanded');" +
                "}" %>
<li id="folder-<%= site_mapping.id %>" class="<%= e_class %>" onclick="<%= onclick_js.gsub("\"", "'") %>">
  <%= link_to(site_mapping.path_segment, { :id => site_mapping.id }) %>
</li>