<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_first_name">First Name:</label><br/>
<%= form.text_field :first_name  %> 

<p><label for="user_last_name">Last Name:</label><br/>
<%= form.text_field :last_name %></p>

<p><label for="user_email">E-mail:</label><br/>
<%= form.text_field :email  %></p>

<p><label for="user_password">Password:</label><br/>
<%= form.password_field :password %></p>


<!--[eoform:user]-->