<h4><%= :users.l('Users') %></h4>

<p>
  <%= link_to :create_new_user.l('Create a New User'), :action => 'new' %>
</p>

<table>
  <tr>
    <th><%= :name.l('Name') %></th>
    <th><%= :email.l('Email') %></th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to :back.l('Back'), :controller => 'users' %>
</p>
