<h1><%= :create_new_user.l('Create a New User') %></h1>

<% form_for :user, @user, :url => { :action => 'create' } do |form| %>
  <%= render :partial => 'form', :locals => { :form => form } %>
  <%= submit_tag :save.l('Save') %>
<% end %>

