<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">
<head>
 <title>black.orange</title>
 <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="<%= url_for_theme_resource('style', 'style.css', true) %>" media="screen, print, projection" />
		<%= javascript_include_tag :defaults %>
 <%= @content_for_script %>
</head>


<body>
<!--HEADER/LOGO-->
<div id="header">
 <div id="logo">
<h1>black.orange</h1>
<h2>I love fruit. Its good for you</h2>
 </div>
 
 <!--TAB NAVIGATION-->
 <div id="topnav">
<a href="#" class="active">Home</a><!--Use class="active" to show where user is-->
<a href="#">Portfolio</a>
<a href="#">Blog</a>
<a href="#">Templates</a>
<a href="#">Contact</a>
 </div>
</div>

<!--MAIN CONTENT-->
  <div id="content">