<!--[form:post]-->

<p><label for="post_name">Document Description</label><br/>
<%= text_field 'chunk', 'description'  %></p>

<p><label for="post_subject">Content</label><br/>
<%= text_area 'chunk_version', 'content'  %></p>

<!--[eoform:post]-->

