<h1>Adding new folder</h1>

<%= start_form_tag :action => 'store_folder'%>
  <%= hidden_field 'site_mapping', 'parent_id' %>
  <%= render :partial => 'folder_form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'index' %>
