html,body {
  font-family: Verdana, Arial, sans-serif;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  background-color: #ffffdd;
}
h1,h2 {
  color: #336699;
  border-bottom: 1px dotted #CCCCCC;
  margin: 0 0 10px 0;
  padding: 0;
}
h1 {
  font-family: Arial;
  background-color: #D4FF7F;
  padding:10px;
  border-bottom: 1px solid #ABDA4E;
  color: #8ABF23;
}
#header {
  position: absolute;
  top: 15px;;
  right: 20px;
}
#content {
  padding: 5px;
}
.widget {
  width: 170px;
  margin: 7px;
}
.widget_header {
  border: 1px solid #8ABF23;
  background: #99AF6D;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}
.widget_title {
  padding: 2px;
  cursor: move;
}
.widget_controls a {
  padding: 2px;
  text-decoration: none;
  color: white;
}
.widget_body {
  border: 1px solid #8ABF23;
  border-top: 0px solid #8ABF23;
  background-color: #D4FF7F;
  height: 100px;
}
.widget_status {
  padding: 2px;
  cursor: s-resize;
}

