html,body {
  font-family: Verdana, Arial, sans-serif;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  background-color: #ffffdd;
}
h1,h2 {
  color: #336699;
  border-bottom: 1px dotted #CCCCCC;
  margin: 0 0 10px 0;
  padding: 0;
}
h1 {
  font-family: Arial;
  background-color: #D4FF7F;
  padding:10px;
  border-bottom: 1px solid #ABDA4E;
  color: #8ABF23;
}
#header {
  position: absolute;
  top: 15px;;
  right: 20px;
}
#content {
  padding: 5px;
}
.window_actions {
  text-align: right;
  font-weight: bold;
  border-top: 1px solid #ABDA4E;
  border-bottom: 1px solid #ABDA4E;
  padding-top: 5px; margin-bottom: 5px;
  padding-bottom: 5px; margin-bottom: 5px;
}
