/*Style sheet for NoProbs must be included to with HTML.*/
/*Styles for body.*/
body
{
	margin: 0 auto;
	padding: 0;
	font: 76% Verdana, Helvetica, Tahoma, Arial, sans-serif;
	background: #f4f4f4 url(/Background.gif) top center repeat-y;
	color: #494949;
}

/*Styles for main content which will be wrapped to centere. */
#MainWrapper
{
	background: #ffffff;
	color: #303030;
	margin: 0 auto;
	width: 800px;
}

/*Styles for the main header at the top. */
#Header
{
	color:#ffffff;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:20px;
	background-color: #79A3C1;
}
#Header a
{
	font-weight:normal;
	font-size:27px;
	text-decoration:none;
	background-color: #79A3C1;
	color:#ffffff;
}

/*Styles for the main header menus. */
#HeaderMenus
{
	color:#000000;
	height:1.2em;
	line-height:1.2em;
	padding-left:11px;
	margin:0 0 10px 0;
	background-color: #dcdcdc;
	border-bottom:solid 2px #a9a9a9;
}
#HeaderMenus ul
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
#HeaderMenus li
{
	float:left;
	list-style-type:none;
}
#HeaderMenus li a
{
	display:block;
	padding:0 10px;
	font-size: 0.9em;
	font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
	text-decoration:none;
	background-color:inherit;
	color:#000000;
}
#HeaderMenus .selected
{
	color: #336699;
	text-decoration: none;
	background-color:inherit;
}
#HeaderMenus a:hover
{
	background-color:inherit;
	color: #336699;
	text-decoration: none;
}

/*Styles for the contens that are displayes in side column. */
#SideContents
{
	float:right;
	width:170px;
	color: #333300;
	padding:0 6px 0 7px;
	line-height:1.4em;
	background-color:#ffffff;
}
#SideContents h3
{
	color: #4D6E8F;
	font-size: 1.4em;
	margin: 0 auto;
	padding: 0 0 8px 0;
	background-color:inherit;
}
#SideContents p
{
	font-size: 90%;
	text-align: justify;
	background-color:inherit;
	color: #333300;
	margin: 0 0 12px 0;
}
#SideContents a
{
	text-decoration: none;
	background-color:inherit;
	color: #660000;
}

/*Styles for the main contets in the page. */
#MainContent
{
	margin: 0 186px 18px 10px;
	padding: 0 12px 0 10px;
	border-right: 1px solid #DDD;
	line-height: 1.6em;
}
#MainContent h2
{
	color:#000000;
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
	background-color:inherit;
	text-align: left;
}
#MainContent p
{
	color:#494949;
	text-align: justify;
	background-color:inherit;
}
#MainContent a
{
	text-decoration: none;
	background-color:inherit;
	color: #000066;
}
#MainContent img 
{
	display:inline;
	color: inherit;
	background-color:inherit;
}

/*Styles for the page footer. */
#Footer 
{	
	margin: 0 auto;
	padding: 8px 0 2px 0;
	border-top: 1px solid #ddd;
	width: 760px;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.6em;
}
#Footer a 
{
	color: #000099;
	background-color: inherit;
	text-decoration: none;
}
#Footer a:hover 
{
	text-decoration: underline;
}

/*Styles for other classes. */
.AlignLeft
{
	margin: 10px 10px 5px 0;
	float: left;
}
.AlignRight
{
	margin: 10px 0 0 10px;
	float: right;
}

.blockerror
{ 
	background: #EEB4B4; 
	margin: 10px 0; 
	padding: 10px 20px;
	border: 1px solid red;
}

.blockinfo
{
	background: #FFF68F; 
	margin: 10px 0; 
	padding: 10px 20px;
	border: 1px solid #EEC900;
}