<ul>
<% if @languages.empty? then %>
  <li><strong>No Matches!</strong></li>
<% else %>
<% for language in @languages do -%>
  <li><div><strong><%= language.iso_639_3 %></strong></div>
    <div><font size="-1" color="grey"><strong><em><%= language.english_name.strip %></em></strong></font></div>
  </li>
<% end -%>
<% end %>
</ul>