<h4>Edit document</h4>

<%= form_remote_tag :url => {:action => 'update_chunk'} %>
  <%= hidden_field 'site_mapping', 'id' %>
  <%= hidden_field 'old_chunk_version', 'id' %>
  <%= render :partial => 'chunk_form' %>
  <p><label for="put_live">Put Live</label><%= check_box_tag('put_live', "1", true) %>
  <%= submit_tag 'Save' %>
</form>


