<h1>Add new document</h1>

<%= form_remote_tag :url => {:action => 'create_chunk'} %>
  <%= hidden_field_tag :parent_id, @parent_id %>
  <%= render :partial => 'chunk_form' %>
  <%= submit_tag 'Save' %>
</form>

