<h1>Editing folder</h1>

<%= start_form_tag :action => 'update_folder', :site_mapping_id => @site_mapping %>
  <%= render :partial => 'folder_form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'index' %>
