<h4><%= :create_new_folder.l('Create New folder') %></h4>

<%
form_remote_for :site_mapping, @site_mapping,
  :url => {:action => 'create_folder'},
  :html => { :id => 'folder_form' } do |f|
%>

  <%= hidden_field_tag :parent_id, @parent_id %>
  <%= render :partial => 'folder_form' %>
  <%= submit_tag :save.l('Save') %>
<% end %>

