<%= error_messages_for 'user' %>

<p><label for="user_first_name"><%= :first_name.l('First Name') %>:</label><br/>
<%= form.text_field :first_name  %> 

<p><label for="user_last_name"><%= :last_name.l('Last Name') %>:</label><br/>
<%= form.text_field :last_name %></p>

<p><label for="user_email"><%= :email.l('E-mail') %>:</label><br/>
<%= form.text_field :email  %></p>

<p><label for="user_password"><%= :password.l('Password') %>:</label><br/>
<%= form.password_field :password %></p>
