<h1><%= :login.l('Log In') %></h1>

<% form_tag :action => 'authenticate', :controller => 'users' do %>
<p><label><%= :email.l('E-mail') %>:</label><br />
<%= text_field_tag :email %>
</p>

<p><label><%= :password.l('Password') %>:</label><br />
<%= password_field_tag :password %>
</p>

<p><%= submit_tag :login.l('Log In') %></p>
<% end %>

