* {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
}

#content {
    margin: 30px 2em;
	font: 9pt/16pt Helvetica, Trebuchet MS, Trebuchet, Verdana, Arial;
}

#content p, td, th, li, input {
	font: 9pt/16pt Helvetica, Trebuchet MS, Trebuchet, Verdana, Arial;
}

#content th {
	text-align: left;
	font-weight: bold;
}

#nav {
	font: 10pt Helvetica, Trebuchet MS, Trebuchet, Verdana, Arial;
    background: #859e23;
    color: #F3F6FB;
    height: 80px;
    position: relative;
    padding: 0 2em;
}

#nav h1 {
	padding-top: 8px;
}

ul#nav-main {
    list-style: none;
    position: absolute;
    bottom: 0px;
}

ul#nav-main li {
    float: left;
}

ul#nav-main li a {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3px 15px 2px 15px;
    background: #ACCC39;
    margin-right: 5px;
    border-bottom: 1px solid #859e23;
    text-decoration: none;
    color: #F3F6FB;
}

ul#nav-main li a.active {
    background: #fff;
    color: #4859A7;
    border-bottom: 1px solid #fff;
}

a,a:visited,a:active {
	color: #4D4E5F;
}

a:hover {
	background-color: #d8eea9;
}

#site_mappings_block ul {
	padding-left: 1em;
	list-style: none;
}

#site_mappings_block a.expand, #site_mappings_block a.collapse {
	background-repeat: no-repeat;
	height: 9px;
	width: 9px;
	margin: 5px 3px 0px -12px;
	float: left;
	clear: left;
}

#site_mappings_block a.expand {
	background-image: url(/images/expand.gif);
}

#site_mappings_block a.collapse {
	background-image: url(/images/collapse.gif);
}

#site_mappings_block h3 {
	padding: 0 0 0.2em 0;
	margin: 0 0 0.5em 0;
	border-bottom: 1px solid #555;
}

#site_mappings_block ul {
	padding-left: 1em;
	list-style: none;
}

#site_mappings_block a.expand, #site_mappings_block a.collapse {
	background-repeat: no-repeat;
	height: 9px;
	width: 9px;
	margin: 5px 3px 0px -12px;
	float: left;
	clear: left;
}

#site_mappings_block a.expand {
	background-image: url(/images/expand.gif);
}

#site_mappings_block a.collapse {
	background-image: url(/images/collapse.gif);
}