<div id="siteinfo">
  <ul id="nav-siteinfo" class="horizontal-list">
    <li>Help</li>
    <li>About Your Website</li>
    <li>About Railfrog</li>
  </ul>
  <div id="siteinfo-legal">© 2006 Foo Bar</div>
  <div id="siteinfo-credits"><%= link_to 'Ribbeted in teh Railfrog pond.', 'http://railfrog.com' %></div>
</div>