<%= partial_render('admin/header', :not_on_ajax => true) %>
<div id='uninstall-extension'>
<h2>Uninstall Extension</h2>
<p>
<%= @uninstall_notes %>
<br />
Extension uninstalled!
</p>
</div>
<%= partial_render('admin/footer', :not_on_ajax => true) %>